* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    font-family: sans-serif;
    overflow-x: hidden;
    overscroll-behavior-x: none;
}

/*NAVBAR*/
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    background: rgba(0,0,0,0.4);
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
}

.nav-links a {
    text-decoration: none;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
}


.hero-container {
    text-align: center;
    color: #111;
}

.hero-name {
    font-size: 5rem;
    font-weight: 300;
    letter-spacing: -2px;
    text-transform: uppercase;
}

.hero-subtitle {
    margin-top: 10px;
    font-size: 1.2rem;
    letter-spacing: 5px;
    text-transform: uppercase;
    opacity: 0.6;
}


/*PHOTO PAGE STYLES */

.photopage-content {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 40px 0;
    overflow: hidden; /* prevent vertical scrollbar */
}

.row-container{
    overflow: hidden;
    display: flex;
    width: 100%;

}

.row-horiz {
    display: flex;
    flex-direction: row;
}

.photo-item {
    flex-shrink: 0;
    height: 310px;
    width: 310px;
    margin-right: 40px;
}

